# Streamlit and UI components
streamlit>=1.40.1,<2.0.0
extra-streamlit-components==0.1.81

# Authentication
streamlit-authenticator>=0.4.2,<0.5.0
bcrypt==4.0.1
pyjwt==2.10.1
cryptography==42.0.5
captcha==0.5

# Data handling
pandas==2.1.0
numpy==1.26.4

# Supabase
supabase==1.0.1
httpx==0.23.3
